.cover-container {
  height: 550px;
  width: 100%;
  background: url(../assets/cover.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  font-size: 29px;
}

.center-text{
  text-align: center;
}

.cta-text {
  font-family: Bebas;
  padding-top: 40px;
  font-size: 30px;
  overflow: hidden;
}

.white-text{
  color: white !important;
}
