@font-face {
  font-family: Bebas;
  src: url('./fonts/bebas.ttf');
}

@font-face {
  font-family: SourceSansPro;
  src: url('./fonts/SourceSansPro-Light.otf');
}


html *{
  font-family: SourceSansPro, 'Helvetica', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

body {
}

a{
  text-decoration: none !important;
}

.subscription-form-container{
  text-align: center;
}

.brand {
  font-family: Bebas;
  font-size: 24px;
  color: #526373;
}

.nav {
  font-size: 18px;
  height: 90px;
  border-radius: 0px !important;
  border-bottom: #FBF8E8 1px solid !important;
  margin-bottom: 0 !important;
}

.nav-container{
  width: 650px;
  margin: auto;
  margin-top: 30px;
}

.cover-container {
  height: 120px;
  width: 100%;
  background: #555555;
  color: white;
  /*background: url(assets/cover.png) no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  font-size: 29px;

  border-bottom: #FBF8E8 1px solid !important;
}

.event-container{
  width: 500px;
  margin: auto;
}

.cta-text {
  padding-top: 20px;
  overflow: hidden;
  font-size: 16px;
}

.thank-you-text {
  padding-top: 45px;
}

.footer{
  width: 100%;
}

.footer-container {
  margin: auto;
  width: 700px;
  padding-top: 40px;
  margin-bottom: 10px;
}
