@font-face {
  font-family: Bebas;
  src: url('./fonts/bebas.ttf');
}

@font-face {
  font-family: SourceSansPro;
  src: url('./fonts/SourceSansPro-Light.otf');
}

html *{
  font-family: SourceSansPro, 'Helvetica', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 14px;
}

body {
}

a{
  text-decoration: none !important;
}

.subscribe-button{
  /*#e052a0,#f15c41*/
  background-image: linear-gradient(to right, #68e052,#0d40b3);
  cursor: pointer;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 5px 20px;
  display: inline-block;
  float: right;
}
.subscribe-button:hover{
  background-image: linear-gradient(to right, #3ec7e0,#526bf4);
}

.subscription-form-container{
  text-align: center;
}

.brand {
  font-family: Bebas;
  font-size: 20px;
  color: #526373;
  position:relative;
  top: 2px;
}

.nav-container{
  width: 768px;
  margin: auto;
  padding-top: 14px;
  height: 60px;
  border-bottom: #FBF8E8 1px solid !important;

}

.cover-container {
  height: 120px;
  width: 100%;
  background: #ededed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  font-size: 29px;

  border-bottom: #FBF8E8 1px solid !important;
}

.event-container{
  width: 500px;
  margin: auto;
}

.subscribe-text {
  padding-top: 20px;
  overflow: hidden;
  font-size: 16px;
}

.footer{
  width: 100%;
}

.footer-container {
  margin: auto;
  width: 700px;
  padding-top: 40px;
  margin-bottom: 10px;
}
